.deps
.libs
*.a
*.gz
*.dmg
*.la
*.lo
*.o
*.gcda
*.gcno

*.log
*.trs

aclocal.m4
autom4te.cache
build
build-scripts/*.m4
build-scripts/ar-lib
build-scripts/compile
build-scripts/config.guess
build-scripts/config.sub
build-scripts/depcomp
build-scripts/install-sh
build-scripts/ltmain.sh
build-scripts/missing
build-scripts/test-driver
config.cache
config.log
config.status
configure
libtool
Makefile
Makefile.in
redstore.1
root
stamp-h1
TODO

macosx/RedStore-Info.plist
macosx/bin
macosx/build
macosx/Credits.html
macosx/RedStore.xcodeproj/*.mode1v3
macosx/RedStore.xcodeproj/*.pbxuser

src/redhttp/test_redhttpd
src/redstore
src/redstore_config.h
src/redstore_config.h.in
tests/redhttp/check_*
!tests/redhttp/check_*.tc
tests/unit/check_*
!tests/redhttp/check_*.tc
